# Node
node_modules/

# Build
dist/

# Logs and generated
logs/
*.log
parsed.txt

# Environment
.env

# Editor
.vscode/
.idea/
.DS_Store

# Misc
npm-debug.log
coverage/

.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*

tmp/